<div class="box1">
    <div class="uno">
        <h2>App Tarjeta Prepagada</h2>
        <div class="row mt-5">
            <div class="col-sm-4">
              <a [routerLink]="['/prepagada/recargas']">
                <div class="card">
                  <div class="card-body">
                        <i class="bi bi-cash-coin"></i>
                    <h5 class="card-title">Recargar</h5>
                    <p class="card-text">Recargar Tarjetas</p>
                  </div>
                </div>
              </a>
              </div>
            <div class="col-sm-4">
              <a [routerLink]="['/prepagada/compras']">
              <div class="card">
                <div class="card-body">
                    <i class="bi bi-cart3"></i>
                  <h5 class="card-title">Compras</h5>
                  <p class="card-text">Ver Compras</p>
                </div>
              </div>
            </a>
            </div>
            <div class="col-sm-4">
              <a [routerLink]="['/prepagada/clientes']">
                <div class="card">
                  <div class="card-body">
                        <i class="bi bi-person-vcard"></i>
                        <h5 class="card-title">Clientes</h5>
                        <p class="card-text">Crear y editar Clientes</p>
                  </div>
                </div>
              </a>
              </div>
          </div>                       
    </div>    
</div>